<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="login" value="abc@gmail.com"/>
    <add key="password" value="123456"/>

    <add key="name" value="Ivan"/>
    <add key="surname" value="Ivanov"/>
    <add key="birthday" value="01.01.1999"/>
    <add key="pasport" value="MP1111111"/>
    <add key="numphone" value="MP1111111"/>
    <add key="numсard" value="1001254789651236"/>
    <add key="сardmonth" value="11"/>
    <add key="сardyear" value="19"/>
    <add key="сardname" value="Ivan Ivanov"/>
  </appSettings>
</configuration>